# Wallpaper to be used
output * bg /home/kubov/Pictures/Wallpappers/nmh2.png center "#1a1200"

smart_borders on
smart_gaps off

gaps outer 10
gaps inner 10

default_border pixel 3
hide_edge_borders smart
default_floating_border normal

client.focused "#302e24" "#524c45" "#b0a57f"
client.unfocused "#3d3229" "#262625" "#b0a57f"
